@page
@model MyWebApp.Pages.CustomerProfiles.DetailsModel
@{
    ViewData["Title"] = "Customer Details";
}

<h1>Customer Details</h1>

<div>
    <h4>Customer Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerProfile!.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerProfile!.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerProfile!.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerProfile!.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerProfile!.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerProfile!.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerProfile!.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerProfile!.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomerProfile?.Id" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
